---
import Prompt from "../components/Prompt.astro";
import Layout from "../layouts/Layout.astro";
import ayuaura from "../assets/ayuaura.jpg"
---

<Layout title="404">
  <Prompt />
  <p class="font-bold lg:text-6xl text-4xl text-ctp-pink">
    404
  </p>
  <img src={ayuaura.src} alt="ayuaura" class="mt-3 rounded-[20px] lg:w-[50vw] w-[75vw]">
  <a href="/" class="font-medium lg:text-2xl text-xl mt-3 underline text-ctp-pink hover:text-ctp-red">take me home</a>
</Layout>
