---
import Heart from "../components/Heart.astro";
import Kotori from "../components/Kotori.astro";
import Prompt from "../components/Prompt.astro";
import Stripe from "../components/Stripe.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - artie">
  <Stripe />
  <Prompt />
  <p class="font-bold lg:text-8xl text-7xl text-transparent bg-clip-text from-pink-400 to-purple-600 bg-gradient-to-r">
    404
  </p>
  <a href="/" class="font-medium lg:text-2xl text-xl mt-3 underline text-pink-400 hover:text-pink-600">Home</a>
  <Kotori />
</Layout>
