---
import Layout from "../layouts/Layout.astro";
import Prompt from "../components/Prompt.astro";
import Centerpiece from "../components/Centerpiece.astro";
import Icons from "../components/Icons.astro";
import Heart from "../components/Heart.astro";
---

<Layout>
  <main class="bg-zinc-900 h-screen text-white flex flex-col justify-center items-center">
    <Prompt />
	<Centerpiece />
	<Icons />
  <Heart />
  </main>
</Layout>