---
import { Icon } from "astro-icon";
---

<div class="flex gap-x-3 xl:mt-6 mt-5 text-purple-200">
  <a href="https://github.com/artiemis" target="_blank">
    <Icon name="mdi:github" />
  </a>
  <a href="https://discord.com/users/134306884617371648" target="_blank">
    <Icon title="Artem#9307" name="mdi:discord" />
  </a>
  <a rel="me" href="https://infosec.exchange/@artie" target="_blank">
    <Icon title="@artie@infosec.exchange" name="mdi:mastodon" />
  </a>
  <a href="https://twitter.com/artiepun" target="_blank">
    <Icon name="mdi:twitter" />
  </a>
  <a href="https://anilist.co/user/Artiem/" target="_blank">
    <Icon name="simple-icons:anilist" />
  </a>
  <a href="https://megumin.eu" target="_blank">
    <Icon name="wizard-hat" />
  </a>
</div>

<style>
  [astro-icon] {
    width: 2rem;
    transition: 0.4s ease-out;
  }

  [astro-icon="wizard-hat"] {
    width: 1.8rem;
  }

  [astro-icon]:hover {
    transform: rotateZ(360deg);
  }
</style>
