---
import { Icon } from "astro-icon";
---

<div class="flex gap-x-3 mt-6">
  <a href="https://github.com/artiemis" target="_blank">
    <Icon name="mdi:github" />
  </a>
  <a href="https://discord.com/users/134306884617371648" target="_blank">
    <Icon name="mdi:discord" />
  </a>
  <a href="mailto:contact@arti3.dev" target="_blank">
    <Icon name="mdi:email" />
  </a>
  <a href="https://anilist.co/user/Artiem/" target="_blank">
    <Icon name="simple-icons:anilist" />
  </a>
  <a href="https://megumin.eu" target="_blank">
    <Icon name="wizard-hat" />
  </a>
  <a href="https://emilia.megumin.eu" target="_blank">
    <Icon name="iconoir:snow-flake" />
  </a>
</div>

<style>
  [astro-icon] {
    width: 2rem;
    transition: 0.4s ease-out;
  }

  [astro-icon="wizard-hat"] {
    width: 1.8rem;
  }

  [astro-icon]:hover {
    transform: rotateZ(360deg);
  }
</style>
